<% @page_heading = _('New article') %>

<%= render "admin/shared/edit", { :form_type => "article", :form_action => { :action => "new", :id => @article.id , :class => ('autosave')} } %>


<%- if current_user.admin? %>
  <h4><%= _("Merge Articles") %></h4>
  <%= form_tag({:action => "merge", :controller => "content", :id => @article.id}, :method => "post") do %>
  <div class='editor-left'>
    <%= _("Article ID") %>
    <%= text_field_tag(:merge_id) %>
    <br/>
    <%= submit_tag(_("Merge"), {:disable => false, :controller => "content", :action => "merge"}) %>
  </div> 
  <% end %>
<%- end %>
